{% load i18n %}
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
{% trans "Все новости" %}
{% endblock title %}

{% block content %}
   <h1>{% trans "Все новости" %}</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>{% trans "Заголовок" %}</td>
               <td>{% trans "Описание" %}</td>
               <td>{% trans "Дата" %}</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.main_text|truncatechars:20|censor }}</td>
               <td>{{ post.post_created_at|date:'d.m.Y' }}</td> </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>{% trans "Cтатей нет!" %}</h2>
   {% endif %}

   {# Информация о пагинации #}
   {% if paginator.num_pages > 1 %}
       <ul class="pagination">
           {% if page_obj.has_previous %}
               <li><a href="?page=1">&laquo;</a></li>
               {% if page_obj.previous_page_number != 1 %}
                   <li><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
               {% endif %}
           {% endif %}

           {% for page in paginator.page_range %}
               {% if page.number == page_obj.number %}
                   <li class="active"><a href="?page={{ page.number }}">{{ page.number }}</a></li>
               {% else %}
                   <li><a href="?page={{ page.number }}">{{ page.number }}</a></li>
               {% endif %}
           {% endfor %}

           {% if page_obj.has_next %}
               {% if paginator.num_pages != page_obj.next_page_number %}
                   <li><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
               {% endif %}
               <li><a href="?page={{ paginator.num_pages }}">&raquo;</a></li>
           {% endif %}
       </ul>
   {% endif %}
{% endblock content %}
