{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load custom_filters %}

{% block title %}
{% trans "Все новости" %}
{% endblock title %}
{% block content %}
   <h1>{% trans "Все новости" %}</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>

<form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST запросов -->
        <input type="hidden" name="next" value="{{ redirect_to }}">

        <select name="language" id="">
            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

            {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="set">
    </form>
   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>{% trans "Заголовок" %}</td>
               <td>{% trans "Описание" %}</td>
               <td>{% trans "Дата" %}</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.main_text|truncatechars:20|censor }}</td>
               <td>{{ post.post_created_at|date:'d.m.Y' }}</td> </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>{% trans "Cтатей нет!" %}</h2>
   {% endif %}

   {# Информация о пагинации #}
   {% if paginator.num_pages > 1 %}
       <ul class="pagination">
           {% if page_obj.has_previous %}
               <li><a href="?page=1">&laquo;</a></li>
               {% if page_obj.previous_page_number != 1 %}
                   <li><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
               {% endif %}
           {% endif %}

           {% for page in paginator.page_range %}
               {% if page.number == page_obj.number %}
                   <li class="active"><a href="?page={{ page.number }}">{{ page.number }}</a></li>
               {% else %}
                   <li><a href="?page={{ page.number }}">{{ page.number }}</a></li>
               {% endif %}
           {% endfor %}

           {% if page_obj.has_next %}
               {% if paginator.num_pages != page_obj.next_page_number %}
                   <li><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
               {% endif %}
               <li><a href="?page={{ paginator.num_pages }}">&raquo;</a></li>
           {% endif %}
       </ul>
   {% endif %}
{% endblock content %}

